---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { generateURL } from "../../utils";

const posts = (await getCollection("blog", post => !post.data.hide)).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <div class="blog-posts">
    {
      posts.map(post => (
        <article>
          <aside>
            <span>
              <FormattedDate date={post.data.pubDate} />
            </span>
          </aside>
          <a
            href={generateURL(`/blog/${post.id}/`)}
            transition:name={`post-title-${post.id}`}
          >
            {post.data.title}
          </a>
        </article>
      ))
    }
  </div>
</Layout>
