---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="À propos de Bobu"
  description="Rapide présentation de l'auteur du blog"
  pubDate={new Date("February 03 2025")}
  tags={[]}
>
  <p>
    Hey,<br>
    Je suis un humain qui aime la pizza, qui apprécie coder contre monnaie sonnante et trébuchante les jours de semaines,
    et qui fait plein d'autres choses le reste du temps.
  </p>

  <p>
    Vous pourriez me retrouver autour d'un <a href="https://fr.wikipedia.org/wiki/Dohy%C5%8D">Dohyō</a>, ou dans un bal folk,
    ou connecté sur Steam, ou autour d'un jeu de société, ou proche des fourneaux.
  </p>
</BlogPost>
