---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
import { Image } from 'astro:assets';
import PorcoRosso from '../assets/images/porco-rosso.jpg'

---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
      Je suis un humain qui aime la pizza, qui apprécie coder contre monnaie sonnante et trébuchante les jours de semaines,
      et qui fait plein d'autres choses le reste du temps.
    </p>

    <p>
      Vous pourriez me retrouver autour d'un <a href="https://fr.wikipedia.org/wiki/Dohy%C5%8D">Dohyō</a>, dans un bal folk,
      connecté sur Steam, autour d'un jeu de société, proche des fourneaux.
    </p>

    <Image src={PorcoRosso} alt="Porco Rosso saluant depuis son avion" />
  </div>
</Layout>
