---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
import {getCollection} from "astro:content";
import Article from "../components/Article.astro";

const posts = (await getCollection("blog", post => !post.data.hide)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3);

---

<Layout>
  <div class="prose">
      <h1>Le blog de Bobu</h1>

    <p>
      {SITE_DESCRIPTION}
    </p>

      <h2>Derniers articles</h2>

      <div class="blog-posts">
          {
              posts.map(post => {
                  return (
                          <Article
                                  post={post} />
                  )
              })
          }
      </div>
  </div>
</Layout>
